<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Basler.Pylon.NET.x64" version="10.3.2.636" targetFramework="net472" />
  <package id="EasyModbusTCP" version="5.6.0" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
</packages>